$maincolor: #9356DC;
$secondarycolor: #FF79DA;
$darkblue: #003A68;
$lightblue: #89C8FA;
$darkgreen: #008766;
$lightgreen: #99E2D0;
$pureblack: #000000;
$lighterblack: #101010;

/* Header *\

/* Section fonctionnement *\

/* Section restaurants *\

/* Footer *\