$maincolor: #9356dc;
$secondarycolor: #ff79da;
$darkblue: #003a68;
$lightblue: #89c8fa;
$darkgreen: #008766;
$lightgreen: #99e2d0;
$pureblack: #000000;
$lighterblack: #101010;
$lightgrey: #f3f3f3;
$white: #ffffff;
