.primary-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: $white;
  background: linear-gradient(
    193.33deg,
    $maincolor -11.44%,
    $secondarycolor 123.93%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50px;
  width: 218px;
  text-decoration: none;
  transition: opacity 250ms ease;
}

.primary-btn:hover {
  animation: opacity 500ms;
  animation-fill-mode: both;
  //   background: linear-gradient(193.33deg, lighten($maincolor, 5) -11.44%, lighten($secondarycolor, 5) 123.93%)
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  }
}
