@import "colors";
@import "fonts";
@import "mixins";
@import "components";

body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 100%;
}

h3 {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 30px;
        padding-top: 14px;
        padding-bottom: 5px;
        width: 100%;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        z-index: 1;
    }

    &__localisation {
        display: flex;
        justify-content: center;
        padding: 15px 0;
        background-color: #EAEAEA;
        width: 100%;
        color: #353535;

        p {
            margin: 0;
            display: block;
            padding-left: 10px;
            font-weight: 500;
            font-size: 16px;
        }
    }
}


/* Hero section */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightgrey;
    padding-bottom: 85px;

    &__title, &__desc {
        @include hero-content;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 0;
    }

    &__desc {
        padding: 0 26px;
        font-weight: 300;
        font-size: 18px;
    }
}

/* Section fonctionnement */

.fonctionnement {
    padding: 0 20px 68px 32px;

    &__etapes {
        list-style: none;
        padding: 0;
    }

    &__etape-pastille {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $maincolor;
        font-weight: 500;
        font-size: 14px;
        color: $white;
        left: -12px;
    }

    &__etape-elem {
        position: relative;
        margin-top: 25px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        padding: 25px 34px;
        background-color: #F7F7F7;
        
        p {
            margin: 0;
            margin-left: 27px;
            font-weight: 500;
            font-size: 16px;
        }
    }

    &__etape-content {
        display: flex;
        align-items: center;
    }

    &__etape-icon {
        color: #7E7E7E;
        font-size: 20px;
        
        &--violet {
            color: $maincolor;
        }
    }
}

/* Section restaurants */

.restaurants {
    padding: 6px 18px 0;
    background-color: $white;

    &__title {
        font-weight: 700;
        font-size: 24px;
        margin-top: 54px;
    }

    &__card {
        position: relative;
        background-color: $white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        overflow: hidden;
        margin-top: 18px;

        .__link {
            text-decoration: none;
            color: $pureblack;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
        }

        &-img {
            background-size: 100%;
            background-position: center bottom;
            flex: 173px;
        }

        .imglapalettedugout {
            background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            }

        .lanoteenchantee {
            background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            background-position: 50% 60%;
            }

        .alafrancaise {
            background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        }

        .ledelicedessens {
            background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        }

        &-bottom {
            height: 77px;
            padding: 0 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-desc {
                p {
                    font-weight: 300;
                    font-size: 17px;
                    margin: 0;
                }
            }

            &__heart {
                font-size: 22px;
                padding-right: 12px;
                border: 1px;
            }
        }

    
        .flag-new {
            position: absolute;
            font-weight: 500;
            font-size: 14px;
            padding: 7px 10px;
            color: $darkgreen;
            background-color: $lightgreen;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            border-radius: 2px;
            top: 15px;
            right: 15px;
        }
    }
}

/* Footer */

.footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 22px;
    margin-top: 66px;

    a {
        text-decoration: none;
        color: $white;
        padding-top: 7px;
    }

    i {
        color: $white;
    }

    &__first2links {
        display: flex;
        flex-direction: column;
    }

    &__second2links {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        order: -1;
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: $white;
        margin: 0;
        padding-bottom: 9px;
        padding-top: 22px;
    }
}