.header {

    &__image {
        width: 100%;
        background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg
        );
        background-size: 100%;
        flex: 275px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;

        @media screen and (min-width: 768px) {
        background-position-y: center;            
        }

        @media screen and (min-width: 1440px) {
        flex: 342px; 
        background-position-y: -400px;           
        }
    }

    &__top {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        width: 100%;

        &-arrow {
            font-size: 17px;
            position:absolute;
            left: 23px;
            top: 24px;
            z-index: 99;
        }

        &__link {
            text-decoration: none;
            color: #353535;
            z-index: 99;
        }
    }

}

.lapalettedugout {
margin-top: -50px;
border-radius: 40px 40px 0px 0px;
background-color: $lightgrey;
padding-bottom: 40px;
z-index: 2;


@media screen and (min-width: 768px) {
width: 768px;   
margin-right: auto;
margin-left: auto; 
}

@media screen and (min-width: 1440px) {
    width: 1055px;  
}

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 17px;

        @media screen and (min-width: 1440px) {
        justify-content: center;            
        }

        &__titre {
            font-family: "Shrikhand", cursive;
            font-weight: 400;
            font-size: 28px;
            line-height: 41px;
            color: $lighterblack;
            margin: 0;
            padding-top: 32px;
            padding-bottom: 42px;
        }

        &__icone {
            font-size: 22px;
            padding-right: 24px;

            @media screen and (min-width: 1440px) {
            margin-left: 24px;                
            }

        }
    }
    
    .categories {
        padding-bottom: 40px;
        padding-left: 13px;
        padding-right: 13px;

        @media screen and (min-width: 1440px) {
        width: 634px;
        margin: auto;         
        }
    }

    .categorie {

        padding: 0 13px;
        display: flex;
        align-items: end;

        &__titre {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;

        &__soulignement {
            border: 2px solid $lightgreen;
            width: 40px;
        }
        }

        &__content {
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 12px 15px;
            margin-top: 12px;
            background-color: white;
            width: 100%;

            &__nomduplat {
                margin: 0;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &__bottom {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
            }

            &__desc {
                margin: 0;
                font-weight: 300;
                font-size: 15px;
                line-height: 18px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &__prix {
                margin: 0;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
            }
        }

        & .checkanimation {
            display: flex;
            width: 0;
            justify-content: center;
            align-items: center;
            height: 68px;
            background: #99E2D0;
            overflow: hidden;
            border-radius: 0px 15px 15px 0px;
            color: white;
            transition: 250ms ease-in-out;
        }

        &:hover .checkanimation {
            width: 59px;

        }

        &__content:hover {
            border-radius: 15px 0 0 15px;
        }


    }

    .commander-button {
        margin: 0 auto 0px auto;

        @media screen and (min-width: 768px) {
        margin: 0 auto 10px auto;           
        }
    }
}

