@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.primary-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50px;
  width: 218px;
  text-decoration: none;
  transition: opacity 250ms ease;
}

.primary-btn:hover {
  animation: opacity 500ms;
  animation-fill-mode: both;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  }
}
.header__image {
  width: 100%;
  background-size: 100%;
  flex: 275px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .header__image {
    background-position-y: center;
  }
}
@media screen and (min-width: 1440px) {
  .header__image {
    flex: 342px;
    background-position-y: -400px;
  }
}
.header__palettedugoutimg {
  background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.header__lanoteenchanteeimg {
  background-image: url(./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.header__alafrancaiseimg {
  background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.header__ledelicedesens {
  background-image: url(./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.header__top {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100%;
}
.header__top-arrow {
  font-size: 17px;
  position: absolute;
  left: 23px;
  top: 24px;
  z-index: 99;
}
.header__top__link {
  text-decoration: none;
  color: #353535;
  z-index: 99;
}

.menucontainer {
  margin-top: -50px;
  border-radius: 40px 40px 0px 0px;
  background-color: #f3f3f3;
  padding-bottom: 40px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .menucontainer {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1440px) {
  .menucontainer {
    width: 1055px;
  }
}
.menucontainer__top {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0 17px;
}
@media screen and (min-width: 1440px) {
  .menucontainer__top {
    justify-content: center;
  }
}
.menucontainer__top__titre {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: #101010;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 42px;
  padding-right: 24px;
}
.menucontainer__top__icone {
  font-size: 22px;
  padding-right: 24px;
}
@media screen and (min-width: 1440px) {
  .menucontainer__top__icone {
    margin-left: 24px;
  }
}
.menucontainer__top .like-container__like-btn {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  appearance: none;
}
.menucontainer__top .like-container__like-btn::before, .menucontainer__top .like-container__like-btn::after {
  left: 0px;
  top: 0px;
  display: block;
  position: absolute;
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-size: 20px;
  transition: 400ms;
  background: none;
}
.menucontainer__top .like-container__like-btn::before {
  font-weight: 400;
  opacity: 1;
}
.menucontainer__top .like-container__like-btn::after {
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: transparent;
  opacity: 0;
  -webkit-background-clip: text;
  background-clip: text;
}
.menucontainer__top .like-container__like-btn:checked::before {
  opacity: 0;
}
.menucontainer__top .like-container__like-btn:checked::after {
  opacity: 1;
  -webkit-background-clip: text;
  background-clip: text;
}
.menucontainer .categories {
  padding-bottom: 40px;
  padding-left: 13px;
  padding-right: 13px;
}
@media screen and (min-width: 1440px) {
  .menucontainer .categories {
    width: 634px;
    margin: auto;
  }
}
.menucontainer .categorie {
  padding: 0 13px;
  display: flex;
  align-items: end;
}
.menucontainer .categorie__titre {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.menucontainer .categorie__titre__soulignement {
  border: 2px solid #99e2d0;
  width: 40px;
}
.menucontainer .categorie__content {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 12px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.menucontainer .categorie__content__wrapper {
  flex: 100%;
  padding: 12px 15px;
}
.menucontainer .categorie__content__nomduplat {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menucontainer .categorie__content__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.menucontainer .categorie__content__desc {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menucontainer .categorie__content__prix {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
.menucontainer .categorie .checkanimation {
  display: flex;
  width: 0;
  justify-content: center;
  align-items: center;
  height: 68px;
  background: #99e2d0;
  overflow: hidden;
  border-radius: 0px 15px 15px 0px;
  color: white;
  transition: 250ms ease-in-out;
}
.menucontainer .categorie:hover .checkanimation {
  width: 59px;
}
.menucontainer .commander-button {
  margin: 0 auto 0px auto;
}
@media screen and (min-width: 768px) {
  .menucontainer .commander-button {
    margin: 0 auto 10px auto;
  }
}

.anim-menu1 {
  animation: fadein 500ms ease-in-out forwards;
  animation-delay: 125ms;
  opacity: 0;
}

.anim-menu2 {
  animation: fadein 500ms ease-in-out forwards;
  animation-delay: 250ms;
  opacity: 0;
}

.anim-menu3 {
  animation: fadein 500ms ease-in-out forwards;
  animation-delay: 375ms;
  opacity: 0;
}

.anim-menu4 {
  animation: fadein 500ms ease-in-out forwards;
  animation-delay: 500ms;
  opacity: 0;
}

.anim-menu5 {
  animation: fadein 500ms ease-in-out forwards;
  animation-delay: 625ms;
  opacity: 0;
}

.anim-menu6 {
  animation: fadein 500ms ease-in-out forwards;
  animation-delay: 750ms;
  opacity: 0;
}

.anim-menu7 {
  animation: fadein 500ms ease-in-out forwards;
  animation-delay: 875ms;
  opacity: 0;
}

.anim-menu8 {
  animation: fadein 500ms ease-in-out forwards;
  animation-delay: 1000ms;
  opacity: 0;
}

.anim-menu9 {
  animation: fadein 500ms ease-in-out forwards;
  animation-delay: 1125ms;
  opacity: 0;
}

.anim-menu10 {
  animation: fadein 500ms ease-in-out forwards;
  animation-delay: 1250ms;
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  animation: unscroll 7s forwards;
  overflow-x: hidden;
}

.maincontainer {
  margin: 0;
}
@media screen and (min-width: 980px) {
  .maincontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
}

h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
}

/* Loader */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  animation: loader-fadeout 500ms;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.loader__bkg {
  background: linear-gradient(-45deg, #ff79da, #9356dc, #ff79da, #99e2d0);
  background-size: 400% 400%;
  animation: gradient 6s ease-in-out infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes loader-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.loader-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.loader-spinner div {
  transform-origin: 40px 40px;
  animation: loader-spinner 1.2s linear infinite;
}
.loader-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #99e2d0;
}

.loader-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.loader-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.loader-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.loader-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.loader-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.loader-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.loader-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.loader-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.loader-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.loader-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.loader-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.loader-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

.loader-spinner div:nth-child(13) {
  transform: rotate(360deg);
  animation-delay: 0.1s;
}

@keyframes loader-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding-top: 14px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 1024px) {
  .header__logo {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}
.header__localisation {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #eaeaea;
  width: 100%;
  color: #353535;
}
.header__localisation p {
  margin: 0;
  display: block;
  padding-left: 10px;
  font-weight: 500;
  font-size: 16px;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  padding-bottom: 57px;
  margin-bottom: 48px;
  width: 100%;
}
@media screen and (min-width: 1180px) {
  .hero {
    padding-bottom: 30px;
    margin-bottom: 50px;
  }
}
.hero__title, .hero__desc {
  display: block;
  text-align: center;
  padding: 0 58px;
}
.hero__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 39px;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 40px;
    margin-top: 30px;
  }
}
.hero__desc {
  padding: 0 26px;
  font-weight: 300;
  font-size: 18px;
}

/* Section fonctionnement */
.fonctionnement {
  padding: 0 20px 68px 20px;
  margin: auto;
}
@media screen and (min-width: 900px) {
  .fonctionnement {
    padding-bottom: 50px;
    width: 710px;
  }
}
@media screen and (min-width: 1180px) {
  .fonctionnement {
    width: 1040px;
  }
}
.fonctionnement h2 {
  margin-top: 0;
}
.fonctionnement__etapes {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1180px) {
  .fonctionnement__etapes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;
    grid-row-gap: 5px;
  }
}
.fonctionnement__etape-pastille {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  left: -12px;
}
.fonctionnement__etape-elem {
  position: relative;
  margin-top: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 25px 34px;
  background-color: #f3f3f3;
}
@media screen and (min-width: 900px) {
  .fonctionnement__etape-elem {
    display: flex;
    justify-content: space-between;
    width: 435px;
  }
}
@media screen and (min-width: 1180px) {
  .fonctionnement__etape-elem {
    margin-top: 0;
    width: inherit;
    display: inherit;
    justify-content: inherit;
  }
}
.fonctionnement__etape-elem p {
  margin: 0;
  margin-left: 27px;
  font-weight: 500;
  font-size: 16px;
}
.fonctionnement__etape-content {
  display: flex;
  align-items: center;
  width: 223px;
}
.fonctionnement__etape-icon {
  color: #7e7e7e;
  font-size: 20px;
}
.fonctionnement__etape-icon--violet {
  color: #9356dc;
}

/* Section restaurants */
.restaurants {
  padding: 30px 18px 0;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
@media screen and (min-width: 900px) {
  .restaurants {
    flex-wrap: wrap;
    align-content: center;
  }
}
.restaurants__title {
  font-weight: 700;
  font-size: 24px;
  margin-top: 54px;
}
@media screen and (min-width: 900px) {
  .restaurants__title {
    margin-top: 0;
  }
}
@media screen and (min-width: 900px) {
  .restaurants__cards {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    grid-row-gap: 5px;
  }
}
.restaurants__card {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  margin-top: 18px;
}
@media screen and (min-width: 900px) {
  .restaurants__card {
    width: 335px;
  }
}
@media screen and (min-width: 1180px) {
  .restaurants__card {
    width: 500px;
  }
}
.restaurants__card .__link {
  text-decoration: none;
  color: #000000;
}
.restaurants__card-wrapper {
  display: flex;
  flex-direction: column;
}
.restaurants__card-img {
  background-size: 100%;
  background-position: center bottom;
  flex: 173px;
}
.restaurants__card .imglapalettedugout {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.restaurants__card .lanoteenchantee {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: 50% 60%;
}
.restaurants__card .alafrancaise {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.restaurants__card .ledelicedessens {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.restaurants__card-bottom {
  height: 77px;
  padding: 0 33px 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__card-bottom-desc p {
  font-weight: 300;
  font-size: 17px;
  margin: 0;
}
.restaurants__card .flag-new {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  padding: 7px 10px;
  color: #008766;
  background-color: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  top: 15px;
  right: 15px;
}
.restaurants__card .like-container__like-btn {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  appearance: none;
}
.restaurants__card .like-container__like-btn::before, .restaurants__card .like-container__like-btn::after {
  left: 0px;
  top: 0px;
  display: block;
  position: absolute;
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-size: 20px;
  transition: 400ms;
  background: none;
}
.restaurants__card .like-container__like-btn::before {
  font-weight: 400;
  opacity: 1;
}
.restaurants__card .like-container__like-btn::after {
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: transparent;
  opacity: 0;
  -webkit-background-clip: text;
  background-clip: text;
}
.restaurants__card .like-container__like-btn:checked::before {
  opacity: 0;
}
.restaurants__card .like-container__like-btn:checked::after {
  opacity: 1;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Footer */
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-bottom: 22px;
}
@media screen and (min-width: 1060px) {
  .footer {
    flex-direction: row;
    justify-content: right;
    align-items: end;
    padding-bottom: 30px;
    padding-right: 26px;
    height: 114px;
    margin-top: 0;
  }
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  padding-top: 7px;
}
.footer i {
  color: #ffffff;
}
.footer__first2links {
  display: flex;
  flex-direction: column;
}
.footer__first2links i {
  padding-right: 10px;
}
@media screen and (min-width: 1060px) {
  .footer__first2links {
    flex-direction: row;
  }
}
@media screen and (min-width: 1060px) {
  .footer__first2links a {
    padding-left: 7px;
  }
}
.footer__second2links {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1060px) {
  .footer__second2links {
    flex-direction: row;
    padding-left: 25px;
  }
}
@media screen and (min-width: 1060px) {
  .footer__second2links a {
    width: 130px;
    padding-left: 7px;
  }
}
.footer__logo {
  order: -1;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 9px;
  padding-top: 22px;
}
@media screen and (min-width: 1060px) {
  .footer__logo {
    order: inherit;
    padding-bottom: 0;
    padding-left: 16px;
  }
}

@keyframes unscroll {
  from {
    overflow-y: hidden;
  }
  to {
    overflow-y: auto;
  }
}

/*# sourceMappingURL=style.css.map */
