@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.primary-btn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50px;
  width: 218px;
}

.header__image {
  width: 100%;
  background-image: url(./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: 100%;
  flex: 275px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .header__image {
    background-position-y: center;
  }
}
@media screen and (min-width: 1440px) {
  .header__image {
    flex: 342px;
    background-position-y: -400px;
  }
}
.header__top {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100%;
}
.header__top-arrow {
  font-size: 17px;
  position: absolute;
  left: 23px;
  top: 24px;
  z-index: 99;
}
.header__top__link {
  text-decoration: none;
  color: #353535;
  z-index: 99;
}

.lapalettedugout {
  margin-top: -50px;
  border-radius: 40px 40px 0px 0px;
  background-color: #F7F7F7;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .lapalettedugout {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1440px) {
  .lapalettedugout {
    width: 1055px;
  }
}
.lapalettedugout__top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 17px;
}
@media screen and (min-width: 1440px) {
  .lapalettedugout__top {
    justify-content: center;
  }
}
.lapalettedugout__top__titre {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: #101010;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 42px;
}
.lapalettedugout__top__icone {
  font-size: 22px;
  padding-right: 24px;
}
@media screen and (min-width: 1440px) {
  .lapalettedugout__top__icone {
    margin-left: 24px;
  }
}
.lapalettedugout .categories {
  padding-bottom: 40px;
  padding-left: 13px;
  padding-right: 13px;
}
@media screen and (min-width: 1440px) {
  .lapalettedugout .categories {
    width: 634px;
    margin: auto;
  }
}
.lapalettedugout .categorie {
  padding: 0 13px;
}
.lapalettedugout .categorie__titre {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.lapalettedugout .categorie__titre__soulignement {
  border: 2px solid #99E2D0;
  width: 40px;
}
.lapalettedugout .categorie__content {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 12px 15px;
  margin-top: 12px;
}
.lapalettedugout .categorie__content__nomduplat {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.lapalettedugout .categorie__content__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.lapalettedugout .categorie__content__desc {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.lapalettedugout .categorie__content__prix {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
.lapalettedugout .commander-button {
  margin: 0 auto -26px auto;
}
@media screen and (min-width: 768px) {
  .lapalettedugout .commander-button {
    margin: 0 auto 10px auto;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.maincontainer {
  margin: 0;
}
@media screen and (min-width: 980px) {
  .maincontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
}

h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding-top: 14px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .header__logo {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}
.header__localisation {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #EAEAEA;
  width: 100%;
  color: #353535;
}
.header__localisation p {
  margin: 0;
  display: block;
  padding-left: 10px;
  font-weight: 500;
  font-size: 16px;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
  padding-bottom: 85px;
}
@media screen and (min-width: 1024px) {
  .hero {
    padding-bottom: 80px;
  }
}
.hero__title, .hero__desc {
  display: block;
  text-align: center;
  padding: 0 58px;
}
.hero__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 39px;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-size: 40px;
    margin-top: 30px;
  }
}
.hero__desc {
  padding: 0 26px;
  font-weight: 300;
  font-size: 18px;
}

/* Section fonctionnement */
.fonctionnement {
  padding: 0 20px 68px 32px;
}
@media screen and (min-width: 900px) {
  .fonctionnement {
    padding-bottom: 80px;
  }
}
.fonctionnement h2 {
  margin-top: 0;
}
.fonctionnement__etapes {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 980px) {
  .fonctionnement__etapes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;
    grid-row-gap: 5px;
  }
}
.fonctionnement__etape-pastille {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  left: -12px;
}
.fonctionnement__etape-elem {
  position: relative;
  margin-top: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 25px 34px;
  background-color: #F7F7F7;
}
@media screen and (min-width: 980px) {
  .fonctionnement__etape-elem {
    margin-top: 0;
  }
}
.fonctionnement__etape-elem p {
  margin: 0;
  margin-left: 27px;
  font-weight: 500;
  font-size: 16px;
}
.fonctionnement__etape-content {
  display: flex;
  align-items: center;
  width: 223px;
}
.fonctionnement__etape-icon {
  color: #7E7E7E;
  font-size: 20px;
}
.fonctionnement__etape-icon--violet {
  color: #9356DC;
}

/* Section restaurants */
.restaurants {
  padding: 0 18px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .restaurants {
    flex-wrap: wrap;
    align-content: center;
  }
}
.restaurants__title {
  font-weight: 700;
  font-size: 24px;
  margin-top: 54px;
}
@media screen and (min-width: 900px) {
  .restaurants__title {
    margin-top: 0;
  }
}
@media screen and (min-width: 900px) {
  .restaurants__cards {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    grid-row-gap: 5px;
  }
}
.restaurants__card {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  margin-top: 18px;
}
@media screen and (min-width: 900px) {
  .restaurants__card {
    width: 335px;
  }
}
@media screen and (min-width: 1180px) {
  .restaurants__card {
    width: 500px;
  }
}
.restaurants__card .__link {
  text-decoration: none;
  color: #000000;
}
.restaurants__card-wrapper {
  display: flex;
  flex-direction: column;
}
.restaurants__card-img {
  background-size: 100%;
  background-position: center bottom;
  flex: 173px;
}
.restaurants__card .imglapalettedugout {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.restaurants__card .lanoteenchantee {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: 50% 60%;
}
.restaurants__card .alafrancaise {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.restaurants__card .ledelicedessens {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.restaurants__card-bottom {
  height: 77px;
  padding: 0 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__card-bottom-desc p {
  font-weight: 300;
  font-size: 17px;
  margin: 0;
}
.restaurants__card-bottom__heart {
  font-size: 22px;
  padding-right: 12px;
}
.restaurants__card .flag-new {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  padding: 7px 10px;
  color: #008766;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  top: 15px;
  right: 15px;
}

/* Footer */
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-bottom: 22px;
  margin-top: 66px;
}
@media screen and (min-width: 1060px) {
  .footer {
    flex-direction: row;
    justify-content: right;
    align-items: end;
    padding-bottom: 30px;
    padding-right: 26px;
    height: 114px;
    margin-top: 30px;
  }
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  padding-top: 7px;
}
.footer i {
  color: #ffffff;
}
.footer__first2links {
  display: flex;
  flex-direction: column;
}
.footer__first2links i {
  padding-right: 10px;
}
@media screen and (min-width: 1060px) {
  .footer__first2links {
    flex-direction: row;
  }
}
@media screen and (min-width: 1060px) {
  .footer__first2links a {
    padding-left: 7px;
  }
}
.footer__second2links {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1060px) {
  .footer__second2links {
    flex-direction: row;
    padding-left: 25px;
  }
}
@media screen and (min-width: 1060px) {
  .footer__second2links a {
    width: 130px;
    padding-left: 7px;
  }
}
.footer__logo {
  order: -1;
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 9px;
  padding-top: 22px;
}
@media screen and (min-width: 1060px) {
  .footer__logo {
    order: inherit;
    padding-bottom: 0;
    padding-left: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
